.layout__container_align_center {
    margin: 0 auto;
}

.layout__container_size_s {
    width: 920px;
}

.layout__container_size_m {
    width: 1280px;
}

.layout__container_space-v_xxxxl {
    padding: var(--space-xxxxl);
}

.layout__container_space-v_xxxxxl {
    padding: var(--space-xxxxxl);
}

.layout__container_indent-b_xxl {
    margin-bottom: var(--space-xxl);
}

.layout__container_indent-b_xxxxl {
    margin-bottom: var(--space-xxxxl);
}

.layout__container {
    background-color: var(--default);
}

.layout {
    background-color: var(--default);
}