.image {
    width: 100%;
    border: 3px solid var(--border);
    background-color: var(--default);
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
}

.theme_color_project-default {
    --image: url("/images/image-placeholder-primary.svg");
}

.theme_color_project-inverse, .theme_color_project-brand {
    --image: url("/images/image-placeholder-inverse.svg");
}