.product {
    min-height: 300px;
    border: 3px solid var(--border);
}

.product__image .image {
    height: 160px;
    border: 3px solid var(--default);
}

.product__title {
    margin-bottom: var(--space-xxxl);
}

.theme_color_project-inverse > .image, .theme_color_project-brand > .image {
    background-image: url('/images/image-placeholder-inverse.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.theme_color_project-default > .image {
    background-image: url('/images/image-placeholder-primary.svg');
    background-repeat: no-repeat;
    background-position: center;
}